figure {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}
.graphic {
    padding-left: 30px;
}
.row {
    margin-bottom: 0.2em;
}
@keyframes expand {
    from {width: 0%;}
    to {width: 100%;}
}
@media screen and (min-width: 768px) {
    @keyframes expand {
        from {width: 0%;}
        to {width: calc(100% - 75px);}
    }
}
.chart {
    overflow: hidden;
    width: 0%;
    animation: expand 1.5s ease forwards;
}
.row + .row .chart {
    animation-delay: .2s;
}
.row + .row + .row .chart {
    animation-delay: .4s;
}
.block {
    display: block;
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: .75em;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transition: opacity, .3s ease;
}
.block:nth-of-type(2),
.legend li:nth-of-type(1):before {
    background-color: #45B29D;
}
.block:nth-of-type(3),
.legend li:nth-of-type(2):before {
    background-color: #962D3E;
}
.block:nth-of-type(4),
.legend li:nth-of-type(3):before {
    background-color: #334D5C;
}
.value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Fira Sans Condensed', sans-serif;
}
.legend {
    margin: 0 auto;
    padding: 0;
    font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #45B29D;
}
@media screen and (min-width: 768px) {
    h6 {
        padding: 0;
        width: 75px;
        float: left;
        line-height: 40px;
    }
    .block {
        font-size: 1em;
    }
    .legend {
        width: 50%;
    }
}

.maplegend {
    line-height: 18px;
    color: #555;
}
.maplegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
