:root {
    --color-true: #45B29D;
    --color-false: #962D3E;
    --color-dontcare: #334D5C;
}

figure {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}
.row {
    margin-bottom: 0.2em;
}
@keyframes expand {
    from {width: 0%;}
    to {width: 100%;}
}
@media screen and (min-width: 768px) {
    @keyframes expand {
        from {width: 0%;}
        to {width: calc(100% - 75px);}
    }
}
.chart {
    overflow: hidden;
}
.block {
    display: block;
    height: 30px;
    width: 250px;
    color: #fff;
    font-size: .75em;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 1;
}
.block:nth-of-type(2),
.legend li:nth-of-type(1):before {
    background-color: var(--color-true);
}
.block:nth-of-type(3),
.legend li:nth-of-type(2):before {
    background-color: var(--color-false);
}
.block:nth-of-type(4),
.legend li:nth-of-type(3):before {
    background-color: var(--color-dontcare);
}
.value {
    display: block;
    line-height: 1em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Fira Sans Condensed', sans-serif;
}
.legend {
    margin: 0 auto;
    padding: 0;
    font-size: .9em;
}
.legend li {
    display: inline-block;
    padding: .25em 1em;
    line-height: 1em;
}
.legend li:before {
    content: "";
    margin-right: .5em;
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #45B29D;
}
@media screen and (min-width: 768px) {
    h6 {
        padding: 0;
        width: 75px;
        float: left;
        line-height: 40px;
    }
    .block {
        font-size: 1em;
    }
    .legend {
        width: 50%;
    }
}

.maplegend {
    line-height: 18px;
    color: #555;
}
.maplegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.adminbutton,
.adminbutton:visited {
    color: white;
    text-decoration: none;
}
.ban {
    background-color: #D02643;
}
.delete {
    background-color: #000;
}
.private {
    background-color: #70ff8b;
}
/********** tabs **********/
.tab {
    overflow: hidden;
    background-color: var(--background-color);
}
.tab button {
    background-color: var(--background-color);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    color: var(--radius-color);
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    color: var(--text-on-radius-color);
    background-color: var(--radius-color);
}
.tabcontent {
    display: none;
}
.tabcontent {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* overwriting styles from DataTables */
table.dataTable tr.selected td.select-checkbox::after,
table.dataTable tr.selected th.select-checkbox::after {
    margin-top: -15px !important;
    margin-left: -6px !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 0.7em !important;
}

table.dataTable tbody th, table.dataTable tbody td , table.dataTable tbody tr {
    background-color: var(--background-color) !important;
    padding: 0.1px 0.1px !important;
}
