:root {
	--section-margin-outside: 5%;
	--section-margin-top-desktop: calc(3*20px);
	--section-margin-between-desktop: 20px;
	--section-margin-between-mobile: 5%;

	--radius-color: #006F68;
	--text-color: black;
	--background-color: white;
	--radius-frame-color: #006F68;
	--text-on-radius-color: white;
	--special-color: red;
}

#logo-home {
	width: auto;
	height: 24px;
	content: url(../img/logo-radius.png);
}

@media (prefers-color-scheme: dark) {
	:root {
	--radius-color: #45B29D;
	--text-color: white;
	--background-color: #121212;
	}
	#logo-home {
		width: auto;
		height: 30px;
		content: url(../img/logo-radius-white.png);
	}
}
@font-face {
	font-family: Fira Sans Condensed;
	src: url(font/FiraSansCondensed-Light.woff);
}
html,
body * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: var(--background-color);
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.container {
	flex: 1 1 auto;
	/*max-width: 1140px; this is magic */
}
main {
	display: flex;
}

#leftsection {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: var(--section-margin-outside);
	margin-top: var(--section-margin-top-desktop);
	margin-right: calc(var(--section-margin-between-desktop)/2);
}
.leftsection-title {
	margin-bottom: var(--section-margin-between-desktop);
}
.leftsection-content {
	flex-grow: 1;
}
.leftsection-title,
.leftsection-content {
	border: 2px solid var(--text-color);
	padding: 20px;
}
.leftsection-title h2 {
	margin-bottom: 0;
}
.leftsection-content-element {
	border: none;
	margin: 0;
}

#rightsection {
	display: inline-block;
	flex: 0 0 250px;
	border: 2px solid var(--text-color);
	padding: 20px;
	margin: var(--section-margin-outside);
	margin-top: var(--section-margin-top-desktop);
	margin-left: calc(var(--section-margin-between-desktop)/2);
}
.broad {
	flex: 0 0 25% !important;
}

#fullwidth-section {
	display: block;
	flex: 1 1 auto;
	border: 2px solid var(--text-color);
	padding: 20px;
	margin: var(--section-margin-outside);
	margin-top: var(--section-margin-top-desktop);
}

section .profile-resume,
section .leftsection-content-element,
section .login-resume {
	border-bottom: 2px solid var(--text-color);
	padding-top: 20px;
	padding-bottom: 20px;
}

div.editable {
	display: flex;
	justify-content: left;
}

.leftsection-content-element#status-info,
.leftsection-content-element#search-settings {
	display: flex;
	align-items: center;
}
section .profile-resume:last-child,
section .leftsection-content-element:last-child {
	border-bottom: none!important;
	padding-bottom: 0;
}
section .profile-resume:first-child,
section .login-resume:first-child,
section .leftsection-content-element:first-child {
	padding-top: 0;
}

#primary-menubar {
	margin-top: calc(3*29px);
}
#language-select,
#footer p,
#login {
	background-color: var(--radius-frame-color);
}
#primary-menubar,
#secondary-menubar {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
}
#home,
#language-select {
	padding: 15px 5vw;
	flex: 1 0 auto;
}
#language-select {
	text-align: right;
}
.dropdown-input {
	width: 100%;
	margin-bottom: 10px;
	border: solid 2px var(--radius-color);
	padding: 5px;
	font-size: 18px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	color: var(--text-color);
	background-color: var(--background-color);
}
#menuToggle {
	display: inline-block;
	flex: 0 0 auto;
}
ul#menu li {
	margin: 0;
	padding: 0;
}

/*Fonts*/
h1,
h3,
h4,
h5,
h6 {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: var(--radius-color);
	margin: 0;
	/*Vor- und Nachbreiten der Absätze*/
	padding: 0;
}
h2 {
    font-weight: 300;
	margin-bottom: 10px;
}
h2,
ul,
li {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 24px;
	color: var(--radius-color);
	padding: 0;
}
ul,
li {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	color: var(--text-color);
	padding: 0;
	list-style-type: none;
	line-height: 1.8;
}

p,
a,
label,
textarea,
input,
th,
td,
input[type="radio"] {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: var(--text-color);
	border: none;
	line-height: 1.4;
}
label.answer {
	white-space:nowrap;
}
th, td {
    padding-right: 15px;
    text-align: left;
}
b,
th {
	color: var(--radius-color);
	font-weight: 600;
}
a {
	color: var(--radius-color);
	text-decoration: underline;
	font-size: inherit!important;
}

a:hover,
a:active,
a:visited {
	color: var(--radius-color);
}

#register-map-locations a {
	text-decoration: none;
	clear: both;
	font-size: 18px !important;
	border: 1px solid var(--text-color);
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	display: inline-block;
}

/*hide mobile menu*/
#menuToggle input {
	display: none;
}

/* WebKit/Blink Browsers */
::selection {
	background: var(--radius-color);
	color: var(--background-color);
}

/* Gecko Browsers */
::-moz-selection {
	background: var(--radius-color);
	color: var(--background-color);
}

/***** FEEDBACKS *****/
p.result {
	margin-bottom: var(--section-margin-between-desktop);
    color: var(--text-on-radius-color);
    padding: 5 8 5px;
}

p.success {
	background-color: #3EAB70;
}

p.error {
	background-color: #D02643;
}
.feedback-error {
	color: #D02643;
	font-family: 'Fira Sans Condensed', sans-serif;
}

/* MAP */
#register-map-locations {
	margin-top: 10px;
}

#map {
	flex: 1 0 auto;
	max-width: 1200px;
	height: 600px;
}

/* FORMS */
#form {
	display: flex;
	margin-top: 10px;
}

#form input {
	flex: 0 1 400px;
}

#form input[type="submit"] {
	flex: 0 0 auto;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
	border: solid 2px var(--radius-color);
	padding: 5px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	background-color: var(--background-color);
}

.login-resume input[type="text"] {
	width: 100%;
}

textarea {
	width: 100%;
	height: 20vh;
}

form,
fieldset {
	border: none;
}

input[type="submit"],
input[type="button"] {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	color: var(--text-on-radius-color);
	background-color: var(--radius-color);
	padding: 0.42em 0.6em 0.38em 0.6em;
	margin-bottom: 6px; /*LL*/
}

/*extra für registration*/
.label-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 24px;
	color: var(--radius-color);
	padding: 0;
}

/*LL: admin page*/
div #usertable_info,
div #newslettertable_info,
div #matchingtable_info {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
}

/***** SPECIAL ELEMENTS *****/

/* ILLUSTRATIONS */
.editing-icons-div {
	padding-left: 10px;
}

/* SWISS FLAGS */
.pos {
    position: absolute;
}
.top {
    top: 0px;
}
.left {
    left: 0px;
}
.bottom {
    bottom: 0px;
}
.right {
    right: 0px;
}
#specialAnswers {
    margin: 50px 50px;
}
.special {
    color: var(--special-color);
}

/***** HEADER *****/

#language-select {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#menu a,
ul#menu {
	text-decoration: none;
	list-style: none;
}

#menu {
	margin: auto 5vw;
}

#menu a {
	padding: 0.22em 0.4em 0.18em 0.4em;
	margin-left: -2px;
	color: var(--radius-color);
	background-color: var(--background-color);
	text-decoration: none;
}

#menu a:hover {
	color: var(--text-on-radius-color);
	background-color: var(--radius-color);
}

#menu li a:active,
#menu li a.active {
	border: 2px solid var(--radius-color);
}

#menu,
#home {
	display: inline-block;
}

.language-selector a:last child {
	padding: 0.01em 0.27em 0.13em 0.28em;
}

#menu li.current-menu-item>a {
	border: 2px solid var(--radius-color);
}

#menu li,
#menu li a {
	display: inline;
	text-decoration: none;
	font-size: 18px!important;
	line-height: 1.4;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: var(--radius-color);
	border: 2px solid transparent;
	padding: 0.42em 0.6em 0.38em 0.6em;
}

#menu li:hover,
#menu a li:hover,
#menu a:hover li {
	color: var(--background-color);
}

#language-select a:hover,
#language-select li a:hover,
#language-select a:hover li {
	color: var(--radius-frame-color) !important;
	background-color: var(--text-on-radius-color);
}

#language-select a,
#language-select li a {
	display: inline;
	text-decoration: none;
	font-size: 18px!important;
	line-height: 1.4;
	font-family: 'Fira Sans Condensed', sans-serif;
	background-color: var(--radius-frame-color);
	color: var(--text-on-radius-color);
	border: 2px solid var(--text-on-radius-color);
	margin: 2px;
	padding: 0.22em 0.4em 0.18em 0.4em;
}

.navigations a {
	padding: 0.22em 0.4em 0.18em 0.4em;
	margin-left: -2px;
	color: var(--background-color);
	background-color: var(--radius-color);
	border: 2px solid var(--background-color);
	text-decoration: none;
}

.navigations a:hover {
	color: var(--radius-color);
	background-color: var(--background-color);
	border: 2px solid var(--background-color);
}

.navigations,
#home { /* id="home" only used in header.jsp line 35 and 36 */
	display: inline-block;
}

/***** FOOTER *****/

#footer,
footer p {
	background-color: var(--radius-frame-color);
	color: var(--text-on-radius-color);
	border: none;
}

footer a {
	color: var(--text-on-radius-color);
}

footer a:hover,
footer a:active,
footer a:visited {
	color: var(--text-on-radius-color);
}


#footer {
	padding: 20px 5vw;
	flex: 0 0 auto;
}

#footer p {
	margin: 0;
	padding: 0;
}

#footer {
	display: flex;
	justify-content: space-between;
}

#footer,
#footer p {
	border: none;
}

#contact {
	margin: 20px 5vw;
	flex: 1 0 auto;
	display: inline;
}

#s-icons a {
	text-decoration: underline;
}

#s-icons li a {
	display: inline-block;
	margin: 0;
	padding: 0px;
}

ul #s-icons,
#s-icons {
	display: flex;
	flex: 0 0 auto;
	margin: 0;
	list-style: none;
}

.icon {
	height: 23px;
	margin-left: 10px;
}

.ohnohoney{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

/* overwriting styles from DataTables */
table.dataTable tr.selected td.select-checkbox::after,
table.dataTable tr.selected th.select-checkbox::after {
	margin-top: -15px !important;
	margin-left: -6px !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
	top: 0.7em !important;
}

table.dataTable tbody th, table.dataTable tbody td , table.dataTable tbody tr {
	background-color: var(--background-color) !important;
	padding: 0.1px 0.1px !important;
}

.mobileonly{
	display: none;
}
