@font-face {
	font-family: Fira Sans Condensed;
	src: url(FiraSansCondensed-Light.woff);
}

html,
body * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.firstcontainer { }

.container {
	flex: 1 1 auto;
	/*max-width: 1140px; this is magic */
}

main {
	display: flex;
}

#leftsection {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin-top: calc(3*20px);
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 10px;
}

.leftsection-title {
	margin-bottom: 20px;
}

.leftsection-content {
	flex-grow: 1;
}

.leftsection-title,
.leftsection-content {
	border: 2px solid;
	padding: 20px;
}

.leftsection-content-element {
	border: none;
	margin: 0;
}

#rightsection {
	display: inline-block;
	flex: 0 0 250px;
	border: 2px solid black;
	padding: 20px;
	margin-top: calc(3*20px);
	margin-bottom: 5%;
	margin-left: 10px;
	margin-right: 5%;
}

#broadrightsection { /* LL, awkward */
	display: inline-block;
	flex: 0 0 25%;
	border: 2px solid black;
	padding: 20px;
	margin-top: calc(3*20px);
	margin-bottom: 5%;
	margin-left: 10px;
	margin-right: 5%;
}

.fullwidth-section {
	display: flex;
	flex: 1 1 auto;
	border: 2px solid black;
	padding: 20px;
	margin: 5%;
}

.fullwidth-section-only-vertical {
	display: block;
	flex: 1 1 auto;
	border: 2px solid black;
	padding: 20px;
	margin: 5%;
	margin-top: calc(3*20px);
}

#leftsection-bottom {
	display: block;
}

#leftsection-top {
	display: block;
}

section .profile-resume,
section .leftsection-content-element,
section .login-resume {
	border-bottom: 2px solid black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.leftsection-content-element {}

div.editable-rightsection {
	display: flex;
	justify-content: space-between;
}

div.editable {
	display: flex;
	justify-content: left;
}

.leftsection-content-element#status-info,
.leftsection-content-element#search-settings {
	display: flex;
	align-items: center;
}

section .profile-resume:last-child,
section .leftsection-content-element:last-child {
	border-bottom: none!important;
	padding-bottom: 0;
}

section .profile-resume:first-child,
section .login-resume:first-child,
section .leftsection-content-element:first-child {
	padding-top: 0;
}

#primary-menubar {
	margin-top: calc(3*29px);
}

#language-select,
#footer p,
#login {
	background-color: #006F68;
}

#primary-menubar,
#secondary-menubar {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
}

#home,
#language-select {
	padding: 15px 5vw;
	flex: 1 0 auto;
}

#language-select {
	text-align: right;
}

.dropdown-input {
	width: 100%;
	margin-bottom: 10px;
	border:	#006F68 solid 2px;
	padding: 5px;
	font-size: 18px;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
}

#menuToggle {
	display: inline-block;
	flex: 0 0 auto;
}

ul#menu li {
	margin: 0;
	padding: 0;
}

/*Fonts*/

h1,
h3,
h4,
h5,
h6 {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #006F68;
	margin: 0;
	/*Vor- und Nachbreiten der Absätze*/
	padding: 0;
}

h2 {
    font-weight: 300;
	margin-bottom: 10px;
}

.leftsection-title h2 {
	margin-bottom: 0;
}

h2,
ul,
li {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 24px;
	color: #006F68;
	padding: 0;
}

ul,
li {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	color: #000000;
	padding: 0;
	list-style-type: none;
	line-height: 1.8;
}

p,
a,
label,
textarea,
input,
th,
td,
input[type="radio"] {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #000000;
	border: none;
	line-height: 1.4;
}
label.answer {
	white-space:nowrap;
}
th, td {
    padding-right: 15px;
    text-align: left;
}

b,
th {
	color: #006F68;
	font-weight: 600;
}

a {
	color: #006F68;
	text-decoration: underline;
	font-size: inherit!important;
}

a:hover,
a:active,
a:visited {
	color: #006F68;
}

#register-map-locations a {
	/* Ortschaften bei registration*/
	text-decoration: none;
	clear: both;
	font-size: 18px !important;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	border-radius: 15px;
	display: inline-block;
}

#register-map-locations a:before {
	/* Ortschaften bei registration */
	background-image: url('../img/icon-close.png');
	background-size: 15px 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	content: "";
	padding-right: 7px;
	background-repeat: no-repeat;
}

#register-map-locations a:after {
	padding-right: 10px;
}

/*hide mobile menu*/
#menuToggle input {
	display: none;
}

#logo-home {
	width: auto;
	height: 24px;
	content: url(../img/logo-radius.png);
}

/* WebKit/Blink Browsers */
::selection {
	background: #006F68;
	color: white;
}

/* Gecko Browsers */
::-moz-selection {
	background: #006F68;
	color: white;
}

/***** FEEDBACKS *****/

/*LL: I am using these in some places, but not in feedback elements*/
p.result {
	margin-bottom: 20px;
    color: white;
    padding: 5 8 5px;
}

p.success {
	background-color: #3EAB70;
}

p.error {
	background-color: #D02643;
}

/*LL: New, because if I use p.error I get problems with the padding*/
.feedback-error {
	color: #D02643;
	font-family: 'Fira Sans Condensed', sans-serif;
}

/* MAP */

#register-map-locations {
	margin-top: 10px;
}

#map {
	flex: 1 0 auto;
	max-width: 1200px;
	height: 600px;
}

/* FORMS */

#form {
	display: flex;
	margin-top: 10px;
}

#form input {
	flex: 0 1 400px;
}

#form input[type="submit"] {
	flex: 0 0 auto;
}

input[type="text"],
input[type="password"],
input[type="search"], /*LL: admin page table*/
textarea {
	border: #006F68 solid 2px;
	padding: 5px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.login-resume input[type="text"] {
	width: 100%;
}

textarea {
	width: 100%;
	height: 20vh;
}

form,
fieldset {
	border: none;
}

input[type="submit"],
input[type="button"] {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	color: #ffffff;
	background-color: #006F68;
	padding: 0.42em 0.6em 0.38em 0.6em;
	margin-bottom: 6px; /*LL*/
}

/***** HTML ELEMENTS *****/

.leftsection-title {
	margin-bottom: 20px;
}

.leftsection-title,
.leftsection-content {
	border: 2px solid;
	padding: 20px;
}

.leftsection-content-element {
	border: none;
	margin: 0;
}

/*extra für registration*/
.label-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 24px;
	color: #006F68;
	padding: 0;
}

/*LL: admin page*/
div #usertable_info,
div #newslettertable_info,
div #matchingtable_info {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

/***** SPECIAL ELEMENTS *****/

/* ILLUSTRATIONS */
.illustration-info { /*kreisli mit symbol drin*/
	width: 10vw;
	display: inline;
	margin-right: 40px;
}

.illustration-deco {
	width: 10vw;
}

/* ICONS */
.editing-icons {
	width: 30px;
}

.editing-icons-div {
	padding-left: 10px;
}

/* SWISS FLAGS */
.pos {
    position: absolute;
}
.top {
    top: 0px;
}
.left {
    left: 0px;
}
.bottom {
    bottom: 0px;
}
.right {
    right: 0px;
}
#specialAnswers {
    margin: 50px 50px;
}
.special {
    color: #ff0000;
}

/***** HEADER *****/

#language-select {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#menu a,
ul#menu {
	text-decoration: none;
	list-style: none;
}

#menu {
	margin: auto 5vw;
}

#menu a {
	padding: 0.22em 0.4em 0.18em 0.4em;
	margin-left: -2px;
	color: #006F68;
	background-color: #ffffff;
	text-decoration: none;
}

#menu a:hover {
	color: #ffffff;
	background-color: #006F68;
}

#menu li a:active,
#menu li a.active {
	border: 2px solid #006F68;
}

#menu,
#home {
	display: inline-block;
}

.language-selector a:last child {
	padding: 0.01em 0.27em 0.13em 0.28em;
}

#menu li.current-menu-item>a {
	border: 2px solid #006F68;
}

#menu li,
#menu li a {
	display: inline;
	text-decoration: none;
	font-size: 18px!important;
	line-height: 1.4;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: #006F68;
	border: 2px solid transparent;
	padding: 0.42em 0.6em 0.38em 0.6em;
}

#menu li:hover,
#menu a li:hover,
#menu a:hover li {
	color: #ffffff;
}

#language-select a:hover,
#language-select li a:hover,
#language-select a:hover li {
	color: #006F68!important;
	background-color: #ffffff;
}

#language-select a,
#language-select li a {
	display: inline;
	text-decoration: none;
	font-size: 18px!important;
	line-height: 1.4;
	font-family: 'Fira Sans Condensed', sans-serif;
	background-color: #006F68;
	color: #ffffff;
	border: 2px solid #ffffff;
	margin: 2px;
	padding: 0.22em 0.4em 0.18em 0.4em;
}

.navigations a {
	padding: 0.22em 0.4em 0.18em 0.4em;
	margin-left: -2px;
	color: #ffffff;
	background-color: #006F68;
	border: 2px solid #ffffff;
	text-decoration: none;
}

.navigations a:hover {
	color: #006F68;
	background-color: #ffffff;
	border: 2px solid #ffffff;
}

.navigations,
#home { /* id="home" only used in header.jsp line 35 and 36 */
	display: inline-block;
}

/***** FOOTER *****/

#footer,
footer p {
	background-color: #006F68;
	color: white;
	border: none;
}

footer a {
	color: white;
}

footer a:hover,
footer a:active,
footer a:visited {
	color: white;
}


#footer {
	padding: 20px 5vw;
	flex: 0 0 auto;
}

#footer p {
	margin: 0;
	padding: 0;
}

#footer {
	display: flex;
	justify-content: space-between;
}

#footer,
#footer p {
	border: none;
}

#contact {
	margin: 20px 5vw;
	flex: 1 0 auto;
	display: inline;
}

#s-icons a {
	text-decoration: underline;
}

#s-icons li a {
	display: inline-block;
	margin: 0;
	padding: 0px;
}

ul #s-icons,
#s-icons {
	display: flex;
	flex: 0 0 auto;
	margin: 0;
	list-style: none;
}

.icon {
	height: 23px;
	margin-left: 10px;
}

.ohnohoney{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: -1;
}

/* overwriting styles from DataTables */
table.dataTable tr.selected td.select-checkbox::after, table.dataTable tr.selected th.select-checkbox::after {
	margin-top: -15px !important;
	margin-left: -6px !important;
}

table.dataTable tbody td.select-checkbox::before, table.dataTable tbody td.select-checkbox::after, table.dataTable tbody th.select-checkbox::before, table.dataTable tbody th.select-checkbox::after {
	top: 0.7em !important;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 0.1px 0.1px !important;
}

.mobileonly{
	display: none;
}
