@font-face {
	font-family: Fira Sans Condensed;
	src: url(font/FiraSansCondensed-Light.woff);
}

@media all and (max-width: 650px) {
	#language-select {
		position: static;
		left: auto;
		top: auto;
		width: auto;
	}
	html,
	body {
		max-width: 100vw;
		overflow-x: hidden;
		height: auto!important;
	}
	/*sections*/
	main {
		display: block;
	}
	.container {
		flex-direction: column;
	}
	#leftsection {
		flex: 0 1 auto;
		margin-top: var(--section-margin-outside);
		margin-right: var(--section-margin-outside);
	}
	#rightsection {
		margin-left: var(--section-margin-outside);
		margin-top: 0;
		display: block;
		flex: 0 1 auto;
	}
	#profile-history {
		padding-top: 20px;
	}
	#logo-home {
		content: url(../img/logo-radius-white.png);
	}
	#form {
		flex-direction: column;
		align-items: stretch;
	}
	#form input {
		flex: 1 0 auto !important;
	}
	#map {
		height: 200px;
	}
	.map-section {
		flex-direction: column;
	}
	#register-map-locations {
		flex: 0 1 auto;
		padding-left: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	input[type="text"],
	textarea {
		padding: 5px;
		width: 100%;
	}
	.mobileonly {
		display: inline;
		margin-bottom: var(--section-margin-between-mobile);
		text-align: center;
		background-color: #006F68;
		padding: 0.42em 0.6em 0.38em 0.6em;
	}
	.mobileonly a {
		font-size: 18px !important;
		color: white;
		text-decoration: none;
	}
	.leftsection-title {
		display: none;
	}
	.leftsection-title#hometitle {
		display: block;
	}
	p.result {
		margin-bottom: var(--section-margin-between-mobile);
	}
	#fullwidth-section {
		margin-top: var(--section-margin-outside);
	}
	div.editable {
		justify-content: space-between;
	}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 */
	#primary-menubar {
		background-color: #006F68;
		margin-top: 0px
	}
	.language-selector a {
		padding: 0;
		margin-left: 0;
		color: #ffffff;
		background-color: #006F68;
		border: none;
	}
	.language-selector a:hover {
		color: #ffffff;
		background-color: #006F68;
		border: none;
	}
	.language-selector a:last-child {
		padding: 0;
	}
	a {
		transition: color 0.3s ease;
	}
	#menuToggle {
		display: inline-flex;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
		align-self: stretch;
	}
	#menuToggle input {
		visibility: visible;
		display: block;
		width: 40px;
		height: calc(40px + 20px);
		right: calc(5vw - 3px);
		position: absolute;
		cursor: pointer;
		opacity: 0;
		/* hide this */
		z-index: 2;
		/* and place it over the hamburger */
		-webkit-touch-callout: none;
		margin: 0;
		padding: 0;
	}
	#menuToggle #burger {
		align-self: center;
		margin-right: 5vw;
	}
/*
 * Just a quick hamburger
 */
	#menuToggle span {
		display: block;
		width: 33px;
		height: 3px;
		margin-bottom: 5px;
		position: relative;
		background: #ffffff;
		border-radius: 0px;
		z-index: 1;
		transform-origin: 6px -2px;
		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
	}
	#menuToggle span:first-child {
		transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}
/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
	#menuToggle input:checked~#burger span {
		opacity: 1;
		transform: rotate(45deg) translate(-5px, -12px);
		background: #ffffff;
	}
/*
 * But let's hide the middle one.
 */
	#menuToggle input:checked~#burger span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
/*
 * Ohyeah and the last one should go the other direction
 */
	#menuToggle input:checked~#burger span:nth-last-child(2) {
		transform: rotate(-45deg) translate(-6px, 13px);
	}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
	#home {
		padding: 19px 5vw;
	}
	#menu {
		position: absolute;
		right: 0;
		top: 62px;
		width: 11em;
		margin: 0;
		background: #006F68;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translate(0%, calc(-100% - 40px - 24px));
		transition: transform 1s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	}
	#menu a,
	#language-select a {
		color: #fffff;
		display: block!important;
	}
	#language-select {
		display: flex;
		justify-content: space-between;
		padding: 10px 20px 20px;
	}
	#menu #language-select li a {
		border: 2px solid #ffffff;
		padding: 0.22em 0.4em 0.18em 0.4em;
	}
	#menu li,
	#menu li a {
		border: none;
		display: block;
		margin: 0;
		color: white;
		padding: 10px 20px;
	}
	#menu li a:active,
	#menu li a.active {
		border: none;
	}
	#menu li {
		padding: 10px;
	}
	#menu a:hover,
	#language-select a:hover {
		background-color: rgba(255, 255, 255, 0.7);
		border-color: transparent;
	}
	#menu a,
	#language-select a {
		padding: 0.01em 0.10em 0.13em 0.28em;
		margin-left: -2px;
		color: #fffff;
		background-color: #006F68;
		border: none;
		text-decoration: none;
	}
/*
 * And let's slide it in from the left
 */
	#menuToggle input:checked~ul {
		transform: none;
	}
}
